textarea {
   font-size: 14px;
   font-family: Helvetica;
   width: 100%;
   height: 250px;
}

#instructions {
   font-size: 12px;
   list-style-position: inside;
   margin-top: 1ex;
}

#ciphertext { display: none; }
#plaintext { display: none; word-wrap: break-word; }

#input, #output { display: block; width: 95%; margin: 1ex auto;}
#output textarea { background-color: #ddd; border: 0;}
